@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
 
#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:  rgba(178,154,196,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 43%;
	float: left;
 	/*position: absolute;*/
  margin-top:30px;
	margin-left: 20px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c ! important;
	font-family: Helvetica, Arial, sans-serif ! important;
	font-weight:500;
	font-size: 18px ! important;
	border-radius: 0;
	background-repeat: no-repeat;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px ! important;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background-image: none !important;
	background: #fff;
	box-shadow: 0;
	background-repeat: no-repeat;
	border: 3px solid #3498db;
	color: #3498db ! important;
	outline: none;
	padding: 13px 13px 13px 10px !important;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
.campo{
	 background-image: url(/bateria/img/name.svg) !important; 
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width: 100% !important;
	height: 45px !important;
}
.numero{
	 background-image: url(/bateria/img/comment.svg) !important; 
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width: 100% !important;
	height: 45px !important;
}
.calendar{
	 background-image: url(/bateria/img/calendar.svg) !important; 
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width: 100% !important;
	height: 45px !important;
}
.emailF{
	 background-image: url(/bateria/img/email.svg) !important; 
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width: 100% !important;
	height: 45px !important;
}

.selectF{
	float:left; 
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width: 100% !important;
	height: 45px !important;
 	
	color:#3c3c3c ! important;
	font-family: Helvetica, Arial, sans-serif ! important;
 	font-size: 18px ! important;	
	
 	
}
.titulo{
		text-align: -webkit-left;
	width: 100% !important;
	float:left; 
	color:#3c3c3c ! important;
	font-family: Helvetica, Arial, sans-serif ! important;
	font-weight:500 ! important;
	font-size: 18px ! important;	
}

.capo:focus{
	background-image: url(//rexkirby.com/kirbyandson/images/name.svg) !important; 
	background-size: 30px 30px;
	background-position: 8px 5px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	/*background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);*/
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width: 300px;
	height: 45px;
}

#email:focus{
	/*background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);*/
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	/*border: #fbfbfb solid 4px;*/
	cursor:pointer;
	background-color: rgb(109,92,157);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
   font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: rgb(109,92,157);
	border-radius: 4px;
}
	
.submit:hover {
	color: #3ADF00;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}