<?php include("header.php");?>
	<!-- Modulo Titulo  -->
    <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="boton_destacado atras"><a class="btn btn-default" href="noticias.php"><span class="icon-reply"></span>Atras</a></div>           
        </div>
    </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 alignleft ">
                <h2 class="bor-1px"><strong>Datalle Noticias</strong></h2>
            </div>
        </div><!-- /END Modulo Titulo -->

    	<div class="row mtop10">
            <div class="col-lg-12 col-md-12 col-sm-12 alignleft">
            <h2><strong>Consectetur</strong> adipisicing elit.</h2>
            <p class="over-line"><strong>Escrito en: </strong>Enero 30 de 2014</p>
            <p class="over-line"><strong>Escrito por: </strong>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 alignleft">
                <img class="img-left sombra-img img_detalle_noticia" src="img/img_cont_3.png" alt="250x200" style="width: 430px; height: 280px; max-width: 100%;">
                
                <p class="text-justificado">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur porro est maxime voluptatum possimus ratione aperiam culpa obcaecati non asperiores. A, sed, iste porro voluptatum optio pariatur natus itaque. Tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, molestias, labore dolores dolorum fugit vitae reprehenderit soluta eum natus cum ea eaque ipsa quibusdam aspernatur velit excepturi eos atque culpa.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, necessitatibus rem fugit accusamus nulla praesentium ut dicta consequatur delectus aperiam. Officia, quos placeat laudantium blanditiis similique magni reiciendis quasi provident.</p>
                <p class="text-justificado">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur porro est maxime voluptatum possimus ratione aperiam culpa obcaecati non asperiores. A, sed, iste porro voluptatum optio pariatur natus itaque. Tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, molestias, labore dolores dolorum fugit vitae reprehenderit soluta eum natus cum ea eaque ipsa quibusdam aspernatur velit excepturi eos atque culpa.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, necessitatibus rem fugit accusamus nulla praesentium ut dicta consequatur delectus aperiam. Officia, quos placeat laudantium blanditiis similique magni reiciendis quasi provident.</p>
                <p class="text-justificado">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, molestias, labore dolores dolorum fugit vitae reprehenderit soluta eum natus cum ea eaque ipsa quibusdam aspernatur velit excepturi eos atque culpa.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, necessitatibus rem fugit accusamus nulla praesentium ut dicta consequatur delectus aperiam. Officia, quos placeat laudantium blanditiis similique magni reiciendis quasi provident.</p>
            </div>
        </div>
    </div>
<div class="push"></div>
<?php include("footer.php");?>