<?php include("header.php");?>

<div class="container">
	<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="boton_destacado atras"><a class="btn btn-default" href="productos.php"><span class="icon-reply"></span>Atras</a></div>            
        </div>
    </div>
    <!-- Modulo Titulo -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="bor-1px"><strong>Detalle Producto</strong></h2>
            </div>
        </div><!-- /END Modulo Titulo -->	

		<div class="row mtop10">
			<!-- Modulo categorias y subcategorias -->
	        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="dd" id="nestable3" style="margin-bottom:30px;">
                <ol id="myTab"  class="dd-list">
                    <li class="dd-item dd3-item" data-id="1">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item1" data-toggle="tab" class="tab-lista">
                            <div class="dd3-content">Item 1</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="2">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item2" data-toggle="tab" class="tab-lista">
                            <div class="dd3-content">Item 2</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="3">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item3" data-toggle="tab" class="tab-lista">
                            <div class="dd3-content">Item 3</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="4">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item4" data-toggle="tab" class="tab-lista">
                            <div class="dd3-content">Item 4</div>
                        </a>
                    </li>
                    
                    <li class="dd-item dd3-item" data-id="5">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item5" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 5</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="6">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item6" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 6</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item dd-collapsed" data-id="7">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item7" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content dd3-content-plus">Item 7</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="8">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item8" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 8</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="9">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item9" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 9</div>
                        </a>
                    </li>                    
                    <li class="dd-item dd3-item" data-id="10">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item10" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 10</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="11">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item11" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 11</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="12">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item12" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 12</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="13">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item13" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 13</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="14">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item14" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 14</div>
                        </a>
                    </li>
                    <li class="dd-item dd3-item" data-id="15">
                        <button type="button" class="pluss-min"><span class="icon-arrow-right5"></span></button>
                        <a href="#item15" data-toggle="tab"  class="tab-lista">
                            <div class="dd3-content">Item 15</div>
                        </a>
                    </li>
                </ol>
            </div>
        </div><!-- /END Modulo categorias y subcategorias -->

	        <div class="col-lg-9 col-md-9 col-sm-9 alignleft">
	        	<div class="row">
	        		<div class="col-lg-12 col-md-12 col-sm-12 alignleft div_detalle_producto">
						<!-- Carousel FullWidth
						================================================== -->
						<div id="myCarousel" class="carousel carousel2 slide sombra-img">
							<!-- Indicators -->
							<ol class="carousel-indicators m-10">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>
							<!-- contet -->
							<div class="carousel-inner">
								<div class="item carru-400 active ">
									<img class="carru-400" src="img/img_slider_1.png" alt="First slide">
								</div>

								<div class="item carru-400">
									<img class="carru-400" src="img/img_slider_2.png" alt="First slide">
								</div>

								<div class="item carru-400">
									<img class="carru-400" src="img/img_slider_3.png" alt="First slide">
								</div>
							</div>
							<!-- arrows 
							<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="flecha-banner icon-arrow-left7 "></span></a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="flecha-banner icon-uniE89B"></span></a>
							-->




						</div><!-- /END carousel FullWidth-->
						
						<div class="text_detalle_producto">			            
							<h3 class="over-line titulo_detalle_producto">Consectetur adipisicing elit</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi expedita non delectus fugiat praesentium quas. Est, facilis distinctio hic quaerat culpa perspiciatis explicabo maxime quae. Illo autem labore saepe odit. dolor sit amet, consectetur adipisicing elit. Commodi expedita non delectus fugiat praesentium quas. Est, facilis distinctio hic quaerat culpa perspiciatis explicabo maxime quae. Illo autem labore saepe odit.</p>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi expedita non delectus fugiat praesentium quas. Est, facilis distinctio hic quaerat culpa perspiciatis explicabo maxime quae. Illo autem labore saepe odit. dolor sit amet, consectetur adipisicing elit. Commodi expedita non delectus fugiat praesentium quas. Est, facilis distinctio hic quaerat culpa perspiciatis explicabo maxime quae. Illo autem labore saepe odit.</p>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi expedita non delectus fugiat praesentium quas. Est, facilis distinctio hic quaerat culpa perspiciatis explicabo maxime quae. Illo autem labore saepe odit. dolor sit amet, consectetur adipisicing elit. Commodi expedita non delectus fugiat praesentium quas. Est, facilis distinctio hic quaerat culpa perspiciatis explicabo maxime quae. Illo autem labore saepe odit.</p>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi expedita non delectus fugiat praesentium quas. Est, facilis distinctio hic quaerat culpa perspiciatis explicabo maxime quae. Illo autem labore saepe odit. dolor sit amet, consectetur adipisicing elit. Commodi expedita non delectus fugiat praesentium quas. Est, facilis distinctio hic quaerat culpa perspiciatis explicabo maxime quae. Illo autem labore saepe odit.</p>				            
						</div>
		
					</div>          		
            	</div>	
            </div>
        </div>
</div>
<div class="push"></div>
<?php include("footer.php");?>