<!-- Barra de navegacion
================================================== -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FASTPROJECT</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="calendario.php">Calendario</a></li>
                <li><a href="componentes.php">Componentes</a></li>
                <li><a href="faqs.php">Faqs</a></li>
                <li><a href="galeria.php">Galeria</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="home1.php">Home 1</a></li>
                        <li><a href="home2.php">Home 2</a></li>
                    </ul>
                </li>
                <li><a href="form.php">Form</a></li>
                <li><a href="nosotros.php">Diagramas</a></li>
                <li><a href="portafolio.php">Portafolio</a></li>
                <li><a href="scroll.php">Scroll</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menus <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="home1.php">Default</a></li>
                        <li><a href="home2.php">Static top</a></li>
                        <li class="active"><a href="#">Fixed top</a></li>
                    </ul>
                </li> 
            </ul>
        </div>
    </div>
</div>