 <div class="container">

    <!-- Modulo Titulo -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="bor-1px"><strong>{#$contenido->titulo#}</strong></h2>
            </div>
        </div><!-- /END Modulo Titulo -->		

		<div class="row mtop10">
            <div class="col-lg-12 col-md-12 col-sm-12 alignleft">
               {# foreach from=$obj->contenidos item=contenido key=id #}
					{#$contenido->contenido#}
			   {#/foreach#}
			</div>
        </div>
</div>
<div class="push"></div>
 